<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="tuanpv.imart.domain" />
	<context:component-scan base-package="tuanpv.imart.app" />

	<bean id="velocityEngine" class="org.apache.velocity.app.VelocityEngine" init-method="init">
		<constructor-arg type="java.lang.String" value="config/velocity.properties"/>
	</bean>
</beans>